@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  background-color: #141b26;
  padding: 8px 36px;

  color: white;
  font-size: 24px;
  font-weight: bold;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2a3a53;
    color: white;
    font-size: 36px;
}

#btn, #addBtn {
  background-color: inherit;
  color: inherit;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 2px;
  padding: 4px 24px;
}
#btn:active, #addBtn:active{
  background-color: white;
  border: 2px solid #2a3a53;
  color: #2a3a53;
}

#addFortune {
  margin: 16px;
}

